<div class="row shadow">
  <div class="col-sm-4 p-0">
    <div class="card">
      <div class="card-img-wrapper">
        <img *ngIf="property.Image" class="card-img-top" src="assets/images/{{property.Image}}.png">
        <img *ngIf="!property.Image" class="card-img-top" src="assets/images/Auto_default.png">
      </div>
      <div class="card-body">
        <h1 class="card-title">{{property.Name}}</h1>
        <div>
            <strong>Aufgegeben am: {{property.PostedOn}}</strong><br/>
            <strong>{{property.PType}} {{property.Price}} €</strong>
        </div>
        <div>
           <strong>in {{property.City}}</strong>
        </div> <hr>
        <div>
            <strong>Kilometerstand: </strong>
            {{property.Kilometerstand}} km
        </div>

        <div>
            <strong>Erstzulassung am: </strong>
            {{property.Erstzulassung}}
        </div>

      </div>
      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary">Gefällt mir</button>
          <button class="btn btn-success">Nachricht</button>
        </div>
      </div>
  </div>
  </div>
  <div class="col-sm-8 p-0">
    <div class="tab-panel p-3">
      <tabset class="member-tabset">
        <tab heading="Überblick">
          <h1>Überblick</h1>
          <div class="row">
              <div class="col-sm-6">
                  <div class="heading">
                      <strong>Anzahl Sitzplätze</strong>
                      <p>{{property.AnzahlSitzplaetze}}</p>
                  </div>
                  <div class="heading">
                    <strong>Farbe</strong>
                    <p>{{property.Farbe}}</p>
                </div>

                <div class="heading">
                    <strong>Gänge</strong>
                    <p>{{property.Gaenge}}</p>
                </div>


              </div>

              <div class="col-sm-6">
                  <div class="heading">
                      <strong>Feinstaubplakette</strong>
                      <p>{{property.Feinstaubplakette}}</p>
                  </div>

                  <div class="heading">
                    <strong>Anzahl der Türen</strong>
                    <p>{{property.AnzahlTueren}}</p>
                  </div>


                  <div class="heading">
                      <strong>Kraftstoff</strong>
                      <p>{{property.Kraftstoff}}</p>
                  </div>
              </div>
              <div class="col-sm-12">
                  <div class="heading">
                      <strong>Beschreibung</strong>
                      <p>{{property.Description}}</p>
                  </div>
              </div>
            </div>
        </tab>

        <tab heading="Fotos">
          <ngx-gallery [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>
        </tab>
        <tab heading="Kontakt">
          <h1>Kontaktdetail</h1>
          <strong>{{property.Address}}</strong><br/>
          <strong>{{property.City}}</strong><br/>
          <strong>{{property.Telefonnummer}}</strong>
        </tab>
      </tabset>
    </div>
  </div>
</div>
