<div class="row">
  <div class="col-6 m-auto">
  <div class="card m-auto">
    <div class="card-header">
      Register
    </div>
    <div class="card-body">
      <form [formGroup]="registerationForm" (ngSubmit)="onSubmit()">
        <div class="form-group col-12">
            <label for="name" class="form-label">Benutzername</label>
            <input type="text" class="form-control"
            formControlName="userName"
            >
            <span *ngIf="!userName.valid && (userName.touched || userSubmitted)"
            class="error-block">
             Bitte Benutzername eingeben
            </span>
        </div>

        <div class="form-group col-12">
          <label for="email" class="form-label">Email</label>
          <input type="text" class="form-control" formControlName="email">
          <span *ngIf="!email.valid && (email.touched || userSubmitted)" class="error-block">
            <span *ngIf="email.hasError('required')">
              Bitte E-mail eingeben
            </span>
            <span *ngIf="email.hasError('email')">
              Please provide valid email id
            </span>
          </span>
        </div>

        <div class="form-group col-12">
          <label for="passwrod" class="form-label">Passwort</label>
          <input type="password" class="form-control" formControlName="password">
          <span *ngIf="!password.valid && (password.touched || userSubmitted)" class="error-block">
            <span *ngIf="password.errors['required']">
              Bitte Passwort eingeben
            </span>
            <span *ngIf="password.errors.minlength">
              Passwort muss mindestens 8 Zeichen lang sein
            </span>
          </span>
        </div>

        <div class="form-group col-12">
          <label for="cpassword" class="form-label">Passwort bestätigen</label>
          <input type="password" class="form-control" formControlName="confirmPassword">
          <span  *ngIf="!confirmPassword.valid && (confirmPassword.touched || userSubmitted)" class="error-block">
            <span *ngIf="confirmPassword.hasError('required')">
              Bitte Passwort bestätigen
            </span>
          </span>
            <span *ngIf="registerationForm.hasError('notmatched') && confirmPassword.valid" class="error-block">
              Passwörter stimmen nicht überein
            </span>
        </div>

        <div class="form-group col-12">
          <label for="mobile" class="form-label">Telefon</label>
          <input type="text" class="form-control" formControlName="mobile">
          <span  *ngIf="!mobile.valid && (mobile.touched || userSubmitted)" class="error-block">
              <span *ngIf="mobile.hasError('required')">
                Bitte Telefon eingeben
              </span>
              <span *ngIf="mobile.hasError('maxlength')" class="error-block">
                Invalid mobile number
              </span>
          </span>
        </div>

        <div class="form-group col-12">
          <button type="submit" class="btn btn-primary">Bestätigen</button>
          <button type="button" (click)="onReset()" class="btn btn-secondary ml-2">Abbrechen</button>
        </div>
      </form>
    </div>
  </div>
  </div>
</div>
